section.advantages
  h2.section-title
    span Наши преимущества
  .container
    ul.advantages__wrapper
      li.advantages-item
        .advantages-item__pic
          +svg('ic_dancer')
          img.advantages-item__dot.advantages-item__dot--left(src=`${baseDir}images/dot_right_down.png`)
        h4.advantages-item__title
          | Большой выбор
        p.advantages-item__descr
          | В наших магазинах вы найдёте широкий ассортимент одежды, обуви и аксессуаров для танцев, хореографии, гимнастики и спорта

      li.advantages-item
        .advantages-item__pic
          +svg('ic_handshake')
          img.advantages-item__dot.advantages-item__dot--right(src=`${baseDir}images/dot_left_down.png`)
        h4.advantages-item__title
          | Индивидуальный подход
        p.advantages-item__descr
          | Нужно что-то конкретное? Наши менеджеры всегда помогут вам подобрать все, что нужно, из товаров в наличии или оформить под заказ.

      li.advantages-item
        .advantages-item__pic
          +svg('ic_discount')
          img.advantages-item__dot.advantages-item__dot--center.advantages-item__dot--left(src=`${baseDir}images/dot_right.png`)
        h4.advantages-item__title
          | Доступные цены
        p.advantages-item__descr
          | Мы отлично знаем, что для занятий танцами, как начинающим, так и профессионалам, требуется удобная форма и обувь, которая нередко стоит очень дорого. Основной концепцией компании стала доступная цена продукции при высоких стандартах качества.

      li.advantages-item
        .advantages-item__pic
          +svg('ic_mannequin')
          img.advantages-item__dot.advantages-item__dot--center.advantages-item__dot--right(src=`${baseDir}images/dot_left.png`)
        h4.advantages-item__title
          | Особые условия для коллективов
        p.advantages-item__descr
          | У нас вы можете заказать индивидуальный пошив тренировочной формы и аксессуаров с нанесением логотипа. В единой форме ваша команда всегда будет выгодно выделяться среди остальных!

      li.advantages-item
        .advantages-item__pic
          +svg('ic_medal')
          img.advantages-item__dot.advantages-item__dot--bottom.advantages-item__dot--left(src=`${baseDir}images/dot_right_up.png`)
        h4.advantages-item__title
          | Высокое качество
        p.advantages-item__descr
          | У нас представлена продукция ведущих отечественных и зарубежных производителей. Мы работаем только с проверенными брендами.

      li.advantages-item
        .advantages-item__pic
          +svg('ic_product')
          img.advantages-item__dot.advantages-item__dot--bottom.advantages-item__dot--right(src=`${baseDir}images/dot_left_up.png`)
        h4.advantages-item__title
          | Удобный сервис
        p.advantages-item__descr
          | Вы можете сделать заказ через сайт, выбрать удобный способ оплаты и доставки. Осуществляем доставку по Санкт-Петербургу и в регионы.
