
+catalog-list({'items': [
      {
        'imageSrc': `${baseDir}images/catalog_1.png`,
        'itemTitle': 'Одежда для гимнастики, балета и хореографии',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_2.png`,
        'itemTitle': 'Одежда для бальных танцев',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_3.png`,
        'itemTitle': 'Косметика и аксессуары для волос',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_4.png`,
        'itemTitle': 'ОБувь',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_5.png`,
        'itemTitle': 'Разогрев',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_6.png`,
        'itemTitle': 'Сумки, кофры и тд',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_7.png`,
        'itemTitle': 'Предметы для <br> гимнастики и спорта',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_8.png`,
        'itemTitle': 'Распродажа',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      },
      {
        'imageSrc': `${baseDir}images/catalog_9.png`,
        'itemTitle': 'Пошив на заказ',
        'listItems': [
          'Аксессуары для бальных танцев',
          'Брюки для мальчиков',
          'Платья для латины',
          'Рейтинговые платья',
          'Рубашки для мальчиков',
          'Топы, боди',
          'Юбки, брюки'
        ]
      }
    ]})
