extends pug/base

prepend vars
  - title = 'Оформление заказа - Флик Фляк'

append vars
  - link.appleTouchIcon = `${baseDir}favicon/apple-icon.png`
  - link.appleTouchIcon57x57 = `${baseDir}favicon/apple-icon-57x57.png`
  - link.appleTouchIcon60x60 = `${baseDir}favicon/apple-icon-60x60.png`
  - link.appleTouchIcon72x72 = `${baseDir}favicon/apple-icon-72x72.png`
  - link.appleTouchIcon76x76 = `${baseDir}favicon/apple-icon-76x76.png`
  - link.appleTouchIcon114x114 = `${baseDir}favicon/apple-icon-114x114.png`
  - link.appleTouchIcon120x120 = `${baseDir}favicon/apple-icon-120x120.png`
  - link.appleTouchIcon144x144 = `${baseDir}favicon/apple-icon-144x144.png`
  - link.appleTouchIcon152x152 = `${baseDir}favicon/apple-icon-152x152.png`
  - link.appleTouchIcon180x180 = `${baseDir}favicon/apple-icon-180x180.png`
  - link.appleTouchIconPrecomposed = `${baseDir}favicon/apple-icon-precomposed.png`
  - link.icon = `${baseDir}favicon/favicon.ico`
  - link.icon16x16 = `${baseDir}favicon/favicon-16x16.png`
  - link.icon32x32 = `${baseDir}favicon/favicon-32x32.png`
  - link.icon96x96 = `${baseDir}favicon/favicon-96x96.png`
  - linkCssAttrs = [`${baseDir}css/social-nav.css`, `${baseDir}css/forms.css`, `${baseDir}css/main-nav.css`]
  - linkJsAttrs = ['']
  -
    var navContent = {'items':[
    {
    'textLink': 'О НАС',
    'dropdownClass': 'js-nav-dropdown-link active',
    'dropdown': [
    {
    'textLinkDropdown': 'О компании',
    },
    {
    'textLinkDropdown': 'Новости',
    },
    {
    'textLinkDropdown': 'Статьи',
    },
    {
    'textLinkDropdown': 'Вакансии',
    },
    {
    'textLinkDropdown': 'Фотогалерея',
    }
    ]
    },
    {
    'textLink': 'КАТАЛОГ'
    },
    {
    'textLink': 'РАСПРОДАЖА'
    },
    {
    'textLink': 'КОЛЛЕКТИВАМ'
    },
    {
    'textLink': 'АКЦИИ'
    },
    {
    'textLink': 'КОНТАКТЫ'
    }
    ]}

    var breadcrumbsContent = {'items':[
    {
    'text': 'Главная'
    },
    {
    'text': 'Корзина'
    },
    {
    'text': 'Оформление заказа',
    'last': true
    }
    ]}
block content
  include pug/parts/main-header
  +breadcrumbs(breadcrumbsContent)
  form.order-done(action='/')
    .container
      h2.inner-page-title
        span Оформление заказа
      .order-done__inner
        h3.order-done__title
          | Спасибо за Ваш заказ!
        h5.order-done__subtitle
          | Номер вашего заказа: #[span(class='num-order') 27545]
        .order-done__payment-info
          p.result-sum
            | Всего: #[span(class='num-result') 28400 руб]
          p.delivery-sum
            | Доставка: #[span(class='num-delivery') 350 руб]
          p.total-sum
            | ИТОГО К ОПЛАТЕ: #[span(class='num-total') 28750 руб]
        footer.order-done__footer
          | Наш менеджер свяжется с Вами с 9.00 по номеру телефона +8(945)3425767, указанному Вами в форме заказа, для подтверждения наличия товара и уточнения даты, времени и адреса доставки.
  include pug/parts/main-footer
